* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

/* -----BARRA DE NAVEGACION------  */

header .anclada {
    position: fixed;
    width: 100%;
}

.navbar-dark{
    background-color: black;
}

header nav .container-fluid div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 30px;
}

header nav .container-fluid div img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

header nav .container-fluid div p {
    color: white;
    margin: 0;
}

header nav .container-fluid div a {
    color: white;
}

header nav .container-fluid div .enlaces-nav {
    color: white;
}

header .anclada {
    position: fixed;
    width: 100%;
}
.navbar-toggler{
    border: solid 2px white;
}

/* -----MAIN----- */

main {
    background-color: #c9c7c7;
}

main #inicio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

main img {
    height: 12rem;
    width: 12rem;
    border-radius: 6rem;
    margin: 2rem;
    object-fit: cover;
}

main .persona {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .contenedor-boton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

main .div-boton {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.boton {
    color: white;
    background-color: black;
    padding: 5px;
    border-radius: 10px;
}

section {
    background-color: white;
}

section div {
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ----footer---- */



section div .h2-educacion { 
    margin-top: 50px;
}

